html {
    overflow: auto;
    height: 100%;
}

body {
    background-image: url(../images/bg_body.jpg);
    font-family: "Verdana", "Arial", sans-serif;
    color: #d7cfc8;
    max-width: 100%;
    font-size: 11px;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

header {
    position: relative;
    height: 160px;
    margin-bottom: 60px;
}

.logo img {
    position: absolute;
    top: 65px;
    left: 30px;
}

.mainmenu {
    background-color: #fff;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    margin-top: 115px;
    right: 0;
}

.mainmenu ul {
    text-align: center;
    list-style: none;
    font-size: 0;
}

.menu-list li {
    display: inline-block;
    font-size: 14px;
}

.mainmenu a {
    text-decoration: none;
    display: block;
    color: #461500;
    font-family: "Georgia", "Times New Roman", serif;
    padding: 15px 30px;
}

.mainmenu>.menu-list>.menu-item a:hover {
    background-image: url(../images/bg_menu-item-active.png);
    background-size: cover;
    border-radius: 5px;
}

.lang-list {
    position: absolute;
    left: 30px;
    top: 40px;
}

.lang-list ul {
    text-align: center;
    list-style: none;
    font-size: 0;
}

.lang-list li {
    display: inline-block;
    font-size: 11px;
    color: #e8c078;
}

.lang-list a {
    text-decoration: none;
    color: #fff;
    font-family: "Verdana", "Arial", sans-serif;
}

.lang-item:after {
    content: '|';
    margin-left: 5px;
}

.lang-item:last-child:after {
    content: none;
}

.auth {
    position: absolute;
    text-align: center;
    right: 30px;
    top: 40px;
}

.auth ul {
    text-align: center;
    list-style: none;
    font-size: 0;
}

.auth-link li {
    display: inline-block;
    font-size: 12px;
    color: #e8d1a4;
}

.auth-link a {
    font-family: "Verdana", "Arial", sans-serif;
    color: #fff;
    text-transform: lowercase;
}

.auth-link:after {
    content: '|';
    margin-left: 5px;
}

.auth-link:last-child:after {
    content: none;
}

.auth-link.signin a {
    color: #e8d1a4;
}

.promo {
    position: relative;
    width: 870px;
    background-image: url(../images/bg_promo.png);
    border-radius: 10px;
    padding: 20px 30px 30px 100px;
    margin-bottom: 50px;
    font-style: italic;
    font-size: 14px;
    font-family:"Georgia", "Times New Roman", serif;
    color: #f9da5a;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.promo:before {
    content: url(../images/bg_about.png);
    position: absolute;
    left: 30px;
    top: 33px;
}

.promo h1 {
    margin-bottom: 20px;
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 22px;
    color: #ead4aa;
}

.article h2 {
    margin-bottom: 20px;
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 18px;
    color: #fff68d;
 
}

.article {
    position: relative;
    padding-left: 120px;
    padding-top: 10px;
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 12px;
}

.article img {
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: auto;
    height:65px;
   }


.footer {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    padding-top: 45px;
    padding-bottom: 20px;
    color: #f9da5a;
    font-size: 11px;
    font-family: "Verdana", "Arial", sans-serif;
    font-weight: normal;
    border-top: 1px solid rgba(215, 182, 73, 0.44);   
}

.footermenu {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.footermenu ul {
    text-align: center;
    list-style: none;
    font-size: 0;
}

.footermenu li {
    display: inline-block;
    font-size: 11px;
}

.footermenu a {
    font-size: 11px;
    text-decoration: none;
    color: #d7cfc8;
    padding: 10px 10px;
    font-family:"Verdana", "Arial", sans-serif;
}

.footermenu>.menu-list li:after {
    content: '|';
    margin-left: 5px;
    color: #d7cfc8;
}

.footermenu>.menu-list li:last-child:after {
    content: none;
}